@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.chat-body {
  background-color: #e5ddd5;
  overflow-y: auto;
  padding: 15px;
}

.chat-bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  border: 1px solid #ddd;
}

.admin-bubble {
  background-color: #dcf8c6;
  border-color: #cdebb0;
}

.user-bubble {
  background-color: #ffffff;
  border-color: #ddd;
}

.location-card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.pdf-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  min-width: 250px;
  border: 1px solid #e5e5e5;
}

.user-bubble .pdf-card {
  background: #dcf8c6;
}

.admin-bubble .pdf-card {
  background: white;
}

.cursor-pointer {
  cursor: pointer;
}

#createGroupModal {
  z-index: 1065;
}

#createGroupModal .modal-dialog {
  z-index: 1066;
}

.conversation-row.active-chat {
  background-color: #d1e7dd;
  border-left: 4px solid #198754;
  font-weight: 600;
}

.conversation-row {
  cursor: pointer;
  transition: 0.2s;
}

.conversation-row:hover {
  background-color: #f8f9fa;
}

.conversation-row.active {
  background-color: #d1e7dd;
  border-left: 4px solid #198754;
  font-weight: 600;
}